html{
    height: 100%;
    scroll-behavior: smooth;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(#cbccc8)) fixed;
}

input, option{
  font-size: medium;
  font-family: datcub;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
textarea{
  font-size: larger;
  font-family: datcub;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: beige;
  border: 30px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

input[type=text], input[type=email], select{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="radio"]::after, input[type="checkbox"]::after{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #686868;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(255, 255, 255);
}

input[type="radio"]:checked:after, input[type="checkbox"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color:#ffffff ;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


/* .grad {
    height: 100%;
    background-image: linear-gradient(rgb(2, 2, 2), rgb(88, 87, 87));
  } */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);

  }

  @font-face {
      font-family: datcub;
      src: url(DatcubLight-0WBlo.ttf);
  }
  li {
    float: right;
    font-family: datcub;
    color: white;
  }
  
  .leftHead ul{  
    float: left;
    width: 25%;
  }

  .centreForm ul{
    float: left;
    width: 28.5%;
  }

  .rightElements ul{
    float: right;
    width: 25%;
  }

  

  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
      color: gray;
      background-color: rgb(0, 0, 0);
  } 

  .active {
    background-color: #000000;
  }

  .greeting{
      padding-top: 15%;
      display: flex;
      justify-content: center;
      font-family: datcub;
      color: white;
  }
  .greet-para{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    font-family: datcub;
    color: white;
  }

  .greet-f a:hover{
    color: #000000;
  }

  .greet-pika{
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
  }

  .main-form{
    font-family: datcub;
    color: beige;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 13px;
}

.btn {
  background-color: #bebebe;
  border: #bebebe;
  color: rgb(56, 56, 56);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.btn:hover{
  background-color: #383737;
  border: #bebebe;
  color: rgb(56, 56, 56);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.board {
  cursor: pointer;
}

.board img {
  border-radius: 15%;
}


.nav .icon {
  display: none;
}
